#DIV_1 {
    block-size: 333.516px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    height: 333.516px;
    inline-size: 1069.38px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 14.5px;
    margin-block-start: 7.25px;
    perspective-origin: 534.688px 166.75px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 534.688px 166.758px;
    width: 1069.38px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(0, 0, 0, 0.87);
    border-radius: 2px;
    font: 14.5px / 21.75px Roboto, sans-serif;
    margin: 7.25px 0px 14.5px;
    outline: rgba(0, 0, 0, 0.87) none 0px;
    overflow: hidden;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    block-size: 250px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    height: 250px;
    inline-size: 1069.38px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 534.688px 125px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 534.688px 125px;
    user-select: none;
    vertical-align: middle;
    width: 1069.38px;
    will-change: opacity, transform;
    z-index: 1;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
}/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_2:before*/

#IMG_3 {
    block-size: 601.516px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    height: 601.516px;
    inline-size: 1069.38px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 534.688px 300.75px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 534.688px 300.758px;
    user-select: none;
    width: 1069.38px;
    border: 0px none rgba(0, 0, 0, 0.87);
    border-radius: 2px 2px 0px 0px;
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#IMG_3*/

#IMG_3:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#IMG_3:after*/

#IMG_3:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#IMG_3:before*/

#FIGURE_4 {
    block-size: 116px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    bottom: 27.5156px;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    height: 116px;
    inline-size: 110px;
    inset-block-end: 27.5156px;
    inset-block-start: 190px;
    inset-inline-end: 919.375px;
    inset-inline-start: 40px;
    left: 40px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    perspective-origin: 55px 58px;
    position: absolute;
    right: 919.375px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    top: 190px;
    transform-origin: 55px 58px;
    width: 110px;
    z-index: 1;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    margin: 0px;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#FIGURE_4*/

#FIGURE_4:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#FIGURE_4:after*/

#FIGURE_4:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#FIGURE_4:before*/

#IMG_5 {
    block-size: 110px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 17px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    height: 110px;
    inline-size: 110px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 55px 55px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    transform-origin: 55px 55px;
    width: 110px;
    border: 0px none rgba(0, 0, 0, 0.87);
    border-radius: 50%;
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#IMG_5*/

#IMG_5:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#IMG_5:after*/

#IMG_5:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#IMG_5:before*/

#DIV_6 {
    block-size: 123.516px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    height: 123.516px;
    inline-size: 1069.38px;
    margin-block-start: -40px;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 534.688px 61.75px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    transform-origin: 534.688px 61.7578px;
    width: 1069.38px;
    border: 0px none rgba(0, 0, 0, 0.87);
    border-radius: 0px 0px 2px 2px;
    font: 14.5px / 21.75px Roboto, sans-serif;
    margin: -40px 0px 0px;
    outline: rgba(0, 0, 0, 0.87) none 0px;
    padding: 20px;
}/*#DIV_6*/

#DIV_6:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_6:before*/

#DIV_7 {
    block-size: 83.5156px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    height: 83.5156px;
    inline-size: 1051.12px;
    margin-inline-end: -10.875px;
    margin-inline-start: -10.875px;
    perspective-origin: 525.562px 41.75px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    transform-origin: 525.562px 41.7578px;
    width: 1051.12px;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    margin: 0px -10.875px;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_7*/

#DIV_7:after {
    block-size: 0px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    content: '""';
    display: table;
    height: 0px;
    inline-size: 0px;
    perspective-origin: 0px 0px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    width: 0px;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_7:after*/

#DIV_7:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_7:before*/

#DIV_8 {
    block-size: 83.5156px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    float: left;
    height: 83.5156px;
    inline-size: 262.781px;
    margin-inline-start: 175.188px;
    padding-inline-end: 10.875px;
    padding-inline-start: 10.875px;
    perspective-origin: 131.391px 41.75px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    transform-origin: 131.391px 41.7578px;
    width: 262.781px;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    margin: 0px 0px 0px 175.188px;
    outline: rgba(0, 0, 0, 0.87) none 0px;
    padding: 0px 10.875px;
}/*#DIV_8*/

#DIV_8:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_8:after*/

#DIV_8:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_8:before*/

#H4_9 {
    block-size: 48px;
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    height: 48px;
    inline-size: 241.031px;
    margin-block-end: 0px;
    margin-block-start: 16.53px;
    perspective-origin: 120.516px 24px;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    transform-origin: 120.516px 24px;
    width: 241.031px;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 48px Roboto, sans-serif;
    margin: 16.53px 0px 0px;
    outline: rgb(33, 33, 33) none 0px;
}/*#H4_9*/

#H4_9:after {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 48px Roboto, sans-serif;
    outline: rgb(33, 33, 33) none 0px;
}/*#H4_9:after*/

#H4_9:before {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 48px Roboto, sans-serif;
    outline: rgb(33, 33, 33) none 0px;
}/*#H4_9:before*/

#P_10 {
    block-size: 19px;
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    height: 19px;
    inline-size: 241.031px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 120.516px 9.5px;
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    transform-origin: 120.516px 9.5px;
    width: 241.031px;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    margin: 0px;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_10*/

#P_10:after {
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_10:after*/

#P_10:before {
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_10:before*/

#DIV_11, #DIV_14, #DIV_17 {
    block-size: 83.5156px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    float: left;
    height: 83.5156px;
    inline-size: 175.188px;
    padding-inline-end: 10.875px;
    padding-inline-start: 10.875px;
    perspective-origin: 87.5938px 41.75px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    transform-origin: 87.5938px 41.7578px;
    width: 175.188px;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
    padding: 0px 10.875px;
}/*#DIV_11, #DIV_14, #DIV_17*/

#DIV_11:after, #DIV_14:after, #DIV_17:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_11:after, #DIV_14:after, #DIV_17:after*/

#DIV_11:before, #DIV_14:before, #DIV_17:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_11:before, #DIV_14:before, #DIV_17:before*/

#H4_12, #H4_15, #H4_18 {
    block-size: 48px;
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    height: 48px;
    inline-size: 153.438px;
    margin-block-end: 0px;
    margin-block-start: 16.53px;
    perspective-origin: 76.7188px 24px;
    text-align: center;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    transform-origin: 76.7188px 24px;
    width: 153.438px;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 48px Roboto, sans-serif;
    margin: 16.53px 0px 0px;
    outline: rgb(33, 33, 33) none 0px;
}/*#H4_12, #H4_15, #H4_18*/

#H4_12:after, #H4_15:after, #H4_18:after {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    text-align: center;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 48px Roboto, sans-serif;
    outline: rgb(33, 33, 33) none 0px;
}/*#H4_12:after, #H4_15:after, #H4_18:after*/

#H4_12:before, #H4_15:before, #H4_18:before {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    text-align: center;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 48px Roboto, sans-serif;
    outline: rgb(33, 33, 33) none 0px;
}/*#H4_12:before, #H4_15:before, #H4_18:before*/

#P_13, #P_16 {
    block-size: 19px;
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    height: 19px;
    inline-size: 153.438px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 76.7188px 9.5px;
    text-align: center;
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    transform-origin: 76.7188px 9.5px;
    width: 153.438px;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    margin: 0px;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_13, #P_16*/

#P_13:after, #P_16:after {
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    text-align: center;
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_13:after, #P_16:after*/

#P_13:before, #P_16:before {
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    text-align: center;
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_13:before, #P_16:before*/

#P_19 {
    block-size: 19px;
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    height: 19px;
    inline-size: 153.438px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 76.7188px 9.5px;
    text-align: center;
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    transform-origin: 76.7188px 9.5px;
    width: 153.438px;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    margin: 0px;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_19*/

#P_19:after {
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    text-align: center;
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_19:after*/

#P_19:before {
    border-block-end-color: rgb(158, 158, 158);
    border-block-start-color: rgb(158, 158, 158);
    border-inline-end-color: rgb(158, 158, 158);
    border-inline-start-color: rgb(158, 158, 158);
    box-sizing: border-box;
    caret-color: rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    column-rule-color: rgb(158, 158, 158);
    text-align: center;
    text-decoration: none solid rgb(158, 158, 158);
    text-size-adjust: 100%;
    border: 0px none rgb(158, 158, 158);
    font: 13.05px / 19.575px Roboto, sans-serif;
    outline: rgb(158, 158, 158) none 0px;
}/*#P_19:before*/

#DIV_20 {
    block-size: 37px;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    float: left;
    height: 37px;
    inline-size: 87.5781px;
    padding-inline-end: 10.875px;
    padding-inline-start: 10.875px;
    perspective-origin: 43.7812px 18.5px;
    text-align: right;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    transform-origin: 43.7891px 18.5px;
    width: 87.5781px;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
    padding: 0px 10.875px;
}/*#DIV_20*/

#DIV_20:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-align: right;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_20:after*/

#DIV_20:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-align: right;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_20:before*/

#A_21 {
    block-size: 37px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    float: right;
    height: 37px;
    inline-size: 37px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 18.5px 18.5px;
    position: relative;
    right: 0px;
    text-align: right;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 18.5px 18.5px;
    user-select: none;
    vertical-align: middle;
    width: 37px;
    will-change: opacity, transform;
    z-index: 1;
    background: rgb(255, 64, 129) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50%;
    font: 14.5px / 37px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
}/*#A_21*/

#A_21:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: right;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(255, 255, 255);
    font: 14.5px / 37px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_21:after*/

#A_21:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: right;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(255, 255, 255);
    font: 14.5px / 37px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_21:before*/

#I_22 {
    block-size: 37px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 37px;
    inline-size: 37px;
    perspective-origin: 18.5px 18.5px;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 18.5px 18.5px;
    user-select: none;
    width: 37px;
    border: 0px none rgb(255, 255, 255);
    font: 23.2px / 37px Material-Design-Icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_22*/

#I_22:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(255, 255, 255);
    font: 23.2px / 37px Material-Design-Icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_22:after*/

#I_22:before {
    block-size: 37px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    content: '""';
    cursor: pointer;
    display: inline-block;
    height: 37px;
    inline-size: 23.2031px;
    perspective-origin: 11.5938px 18.5px;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 11.6016px 18.5px;
    user-select: none;
    width: 23.2031px;
    border: 0px none rgb(255, 255, 255);
    font: 23.2px / 37px Material-Design-Icons;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_22:before*/

#DIV_23 {
    block-size: 100%;
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    display: none;
    height: 100%;
    inline-size: 100%;
    inset-block-start: 100%;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    position: absolute;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    top: 100%;
    width: 100%;
    z-index: 1;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
    overflow: auto;
    padding: 20px;
}/*#DIV_23*/

#DIV_23:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_23:after*/

#DIV_23:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#DIV_23:before*/

#P_24, #P_29, #P_32, #P_34, #P_36 {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    margin-block-end: 14.5px;
    margin-block-start: 14.5px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    margin: 14.5px 0px;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#P_24, #P_29, #P_32, #P_34, #P_36*/

#P_24:after, #P_29:after, #P_32:after, #P_34:after, #P_36:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#P_24:after, #P_29:after, #P_32:after, #P_34:after, #P_36:after*/

#P_24:before, #P_29:before, #P_32:before, #P_34:before, #P_36:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#P_24:before, #P_29:before, #P_32:before, #P_34:before, #P_36:before*/

#SPAN_25 {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 36px Roboto, sans-serif;
    outline: rgb(33, 33, 33) none 0px;
}/*#SPAN_25*/

#SPAN_25:after {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    cursor: pointer;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 36px Roboto, sans-serif;
    outline: rgb(33, 33, 33) none 0px;
}/*#SPAN_25:after*/

#SPAN_25:before {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    cursor: pointer;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 300 24px / 36px Roboto, sans-serif;
    outline: rgb(33, 33, 33) none 0px;
}/*#SPAN_25:before*/

#I_26 {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    cursor: pointer;
    display: block;
    float: right;
    margin-inline-start: 15px;
    speak: none;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 24px / 24px Material-Design-Icons;
    margin: 0px 0px 0px 15px;
    outline: rgb(33, 33, 33) none 0px;
}/*#I_26*/

#I_26:after {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    cursor: pointer;
    speak: none;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(33, 33, 33) none 0px;
}/*#I_26:after*/

#I_26:before {
    border-block-end-color: rgb(33, 33, 33);
    border-block-start-color: rgb(33, 33, 33);
    border-inline-end-color: rgb(33, 33, 33);
    border-inline-start-color: rgb(33, 33, 33);
    box-sizing: border-box;
    caret-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    column-rule-color: rgb(33, 33, 33);
    content: '""';
    cursor: pointer;
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(33, 33, 33);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 33, 33);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(33, 33, 33) none 0px;
}/*#I_26:before*/

#SPAN_27 {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#SPAN_27*/

#SPAN_27:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#SPAN_27:after*/

#SPAN_27:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#SPAN_27:before*/

#I_28 {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_28*/

#I_28:after {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_28:after*/

#I_28:before {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    content: '""';
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_28:before*/

#P_30 {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    margin-block-end: 14.5px;
    margin-block-start: 14.5px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    margin: 14.5px 0px;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#P_30*/

#P_30:after {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#P_30:after*/

#P_30:before {
    border-block-end-color: rgba(0, 0, 0, 0.87);
    border-block-start-color: rgba(0, 0, 0, 0.87);
    border-inline-end-color: rgba(0, 0, 0, 0.87);
    border-inline-start-color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    column-rule-color: rgba(0, 0, 0, 0.87);
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.87);
    font: 14.5px / 21.75px Roboto, sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
}/*#P_30:before*/

#I_31 {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_31*/

#I_31:after {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_31:after*/

#I_31:before {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    content: '""';
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_31:before*/

#I_33 {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_33*/

#I_33:after {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_33:after*/

#I_33:before {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    content: '""';
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_33:before*/

#I_35 {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_35*/

#I_35:after {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_35:after*/

#I_35:before {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    content: '""';
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_35:before*/

#I_37 {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_37*/

#I_37:after {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_37:after*/

#I_37:before {
    border-block-end-color: rgb(0, 151, 167);
    border-block-start-color: rgb(0, 151, 167);
    border-inline-end-color: rgb(0, 151, 167);
    border-inline-start-color: rgb(0, 151, 167);
    box-sizing: border-box;
    caret-color: rgb(0, 151, 167);
    color: rgb(0, 151, 167);
    column-rule-color: rgb(0, 151, 167);
    content: '""';
    display: inline-block;
    speak: none;
    text-decoration: none solid rgb(0, 151, 167);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 151, 167);
    font: 24px / 24px Material-Design-Icons;
    outline: rgb(0, 151, 167) none 0px;
}/*#I_37:before*/

